@import "tailwindcss";

.mulish {
  font-family: 'Mulish';
}

.merriweather {
  font-family: 'Merriweather';
}

h2 {
  font-family: 'Merriweather';
}

p {
  font-family: 'Mulish';
}

button {
  font-family: 'Mulish';
  font-weight: 600;
}